.body-custom {
    background-color: #3f3f3f;
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #ffffff;
}

.question_image {
    display: block;
    max-width: 100%;
    margin: auto;
}

@media (max-width: 600px) {
    .question_image {
        max-width: 80%;
        max-height: 90%;
        height: auto;
    }
}