<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}?{% now "U" %}'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body-custom">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="nav-link navbar-brand" href="/">SciLang</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userslist">Ученики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/questions">Вопросы</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/auth">Авторизация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reg">Регистрация</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user' request.user.username %}">Аккаунт</a>
                        </li>
                        <li class="nav-item d-grid">
                            <a class="btn btn-success btn-block" href="/ask">Задать вопрос</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        <ul class="messages" id="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                    <button onclick="getElementById('messages').innerHTML=''" id="messages" class="close">✖</button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container pt-5">
        <table class="table table-dark table-sm">
            <tr>
                <th>N</th>
                <th>Rules</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ребят, выбирайте размер для аватарки(если вы и ставите) то желательно с размерами 300 на 300 как квадратик</td>
            </tr>
            <tr>
                <td>2</td>
                <td> Не ставить оскорбительные имена пользователей или имен</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Придумывайте пароль, который сможете запомнить, так как даже admin не сможет узнать пароль, так как они зашифрованы односторонним шифрованием</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Не спамить задавая много вопросов, иначе ваш аккаунт будет удален администратором</td>
            </tr>
        </table>
        <br>
        <table class="table table-dark table-sm" border="1">
            <tr>
                <th>День</th>
                <th>Время</th>
                <th>Кабинет</th>
                <th>Предметы</th>
            </tr>
            <tr>
                <td>Понедельник</td>
                <td>15:10 - 16:40</td>
                <td>405</td>
                <td>Физика, Математика, Химия</td>
            </tr>
            <tr>
                <td>Вторник</td>
                <td>15:10 - 16:40</td>
                <td>311</td>
                <td>Физика</td>
            </tr>
            <tr>
                <td>Четверг</td>
                <td>15:10 - 16:40</td>
                <td>311</td>
                <td>Математика, Физика</td>
            </tr>
            <tr>
                <td>Пятница</td>
                <td>15:10 - 16:40</td>
                <td>311</td>
                <td>Математика, Физика, Биология, Химия</td>
            </tr>
            <tr>
                <td colspan="4" style="color: yellow">
                    Вопросы по информатике задавать исключительно на форуме (Если Камран конечно не захочет торчать в клубе какой-либо из дней). 
                    Временно по понедельникам математика и физика также будет проходить в 311 кабинете. 
                    Если в течении получаса никто в клуб не приходит, то мы уходим.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>