<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}?{% now "U" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="body-custom">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="nav-link navbar-brand" href="/">SciLang</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userslist">Ученики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/questions">Вопросы</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/auth">Авторизация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reg">Регистрация</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user' request.user.username %}">Аккаунт</a>
                        </li>
                        <li class="nav-item d-grid">
                            <a class="btn btn-success btn-block" href="/ask">Задать вопрос</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        <ul class="messages" id="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                    <button onclick="getElementById('messages').innerHTML=''" id="messages" class="close">✖</button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div class="container text-white">
        {% if request.user.verified %}
            <h1 class="current_user">{{ request.user.username }} ({{ unwatched_questions }})</h1>
        {% else %}
            <h1 class="current_user">{{ request.user.username }}[Не потвержден. Потвердите пароль по почте]</h1>
        {% endif %}
    </div>
    
    <div class="container">
        {% for post in posts %}
            <div class="container text-white bg-dark mt-3 my-3 d-grid p-4 rounded">
                <h1>{{ post.title }}</h1>
                <b><p>{{ post.content }}</p></b>
                <a href="{% url 'user' post.author %}" class="username_show"><b>{{ post.author }}</b></a><br>
                
                <p>{{ post.date }}</p>
                <p class="btn btn-outline-success">Кому понравилось: <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span> | Просмотров: {{ post.views.count }}</p>
                
                <button id="like-button-{{ post.id }}" class="btn btn-primary btn-block" onclick="toggleLike({{ post.id }})">
                    {% if request.user in post.likes.all %}
                        Не нравится
                    {% else %}
                        Нравится
                    {% endif %}
                </button>
            </div>
        {% endfor %}
    </div>

    <script>
        function toggleLike(post_id) {
            $.ajax({
                type: 'POST',
                url: `/like_post/${post_id}`,
                data: {post_id: post_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    if (data.liked) {
                        $('#like-button-' + post_id).text('Нравится');
                    } else {
                        $('#like-button-' + post_id).text('Не нравится');
                    }
                    $('#like-count-' + post_id).text(data.likes_count);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
</body>
</html>