<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Вопросы</title>
    <link rel="stylesheet" href='{% static "css/design.css" %}?{% now "U" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="/">SciLang</a>
            <a href="/about">О нас</a>
            <a href="/userslist">Ученики</a>
        </div>
        <div class="navbar-links" id="navbar-links">
            <a href="/questions">Вопросы</a>
            {% if not request.user.is_authenticated %}
                <a href="/auth">Авторизация</a>
                <a href="/reg">Регистрация</a>
            {% else %}
                <a href="{% url 'user' request.user.username %}">Аккаунт</a>
                <a class="ask_q_button" href="/ask">Задать вопрос</a>
            {% endif %}
        </div>
        <div class="burger-menu" onclick="toggleNavbar()">☰</div>
    </div>

    <div class="buttons-container">
        <a class="button" href="/questions?order_by=physics">Физика</a>
        <a class="button" href="/questions?order_by=math">Математика</a>
        <a class="button" href="/questions?order_by=it">Информатика</a>
        <a class="button" href="/questions?order_by=chemistry">Химия</a>
        <a class="button" href="/questions?order_by=biology">Биология</a>
        <a class="button" href="/questions?order_by=english">Английский</a>
        <a class="button" href="/questions?order_by=russian">Русский</a>
    </div>

    {% if messages %}
        <ul class="messages" id="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                    <button onclick="getElementById('messages').innerHTML=''" id="messages" class="close">✖</button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for question in questions %}
        <div class="container">
            <a href="{% url 'user' question.author %}" class="username_show"><b>{{ question.author }}</b></a>
            <hr>
            <p>{{ question.title }}</p>
            <p>Дата: {{ question.date }}</p>
            <p>Предмет: {{ question.subject }}</p>
            <a class="reg_submit" href="{% url 'q_details' question.subject question.id %}">Ссылка</a>
        </div>
    {% endfor %}
</body>
</html>